<mat-toolbar>
	Display Ad
</mat-toolbar>

<div class="sample-title">
	Image Ad - Landscape display
</div>
<div class="sample-block">
	<display-image-ad class="sample-item" [data]="model" *ngFor="let model of imageAdModels"></display-image-ad>
</div>

<mat-divider></mat-divider>

<div class="sample-title">
	Image Ad - Tower display
</div>
<div class="sample-block">
	<display-image-ad-tower class="sample-item" [data]="model" *ngFor="let model of imageAdModels"></display-image-ad-tower>
</div>

<mat-divider></mat-divider>

<div class="sample-title">
	Text Ad
</div>
<div class="sample-block">
	<display-text-ad class="sample-item" [data]="model" *ngFor="let model of textAdModels"></display-text-ad>
</div>

<mat-divider></mat-divider>

<div class="sample-title">
	Native Ad
</div>
<div class="sample-block">

	<display-native-ad class="sample-item" [data]="nativeAdModels.large"></display-native-ad>
	<display-native-ad-collapsed class="sample-item" [data]="nativeAdModels.collapsed"></display-native-ad-collapsed>

</div>

<mat-divider></mat-divider>
