popover-sample {

}

.mat-menu-panel {
	&.menu-popover {
		min-width: 25rem;
		max-width: 25rem;

		.mat-menu-content {
			padding: 0;
		}

		.notification-menu-content {
			position: relative;
		}

		.menu-header {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			padding: .5rem 1rem;
		}

		.header-fill {
			flex: 1 1 auto;
		}

		.notification-list {
			min-height: 15rem;
			max-height: 20rem;
			overflow: auto;
		}

	}
}
