<mat-toolbar>
	Picker
</mat-toolbar>
<div>
	<form [formGroup]="form">
		<lib-picker class="ggl-scrollbar" formControlName="elements" [extractIdFn]="extractIdFn">
			<lib-picker-section *libPickerSectionDef="let model">
				<lib-picker-header *libPickerHeaderDef>
					<lib-material-search-input formControlName="search" placeholder="Rechercher"></lib-material-search-input>
				</lib-picker-header>
				<table mat-table [dataSource]="dataSource">
					<ng-container matColumnDef="selector">
						<th mat-header-cell *matHeaderCellDef></th>
						<td mat-cell *matCellDef="let row">
							<mat-checkbox (click)="$event.stopPropagation()"
										  (change)="$event ? model.toggle(row) : null"
										  [checked]="model.isSelected(row)">
							</mat-checkbox>
						</td>
					</ng-container>

					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef> Name</th>
						<td mat-cell *matCellDef="let row"> {{row.name}} </td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns; "
						[class.selected]="model.isSelected(row)" (click)="model.toggle(row)">
					</tr>
				</table>
			</lib-picker-section>

			<lib-picker-shop-cart *libPickerShopCartDef="let selection; let length=length; let model=model">
				<ng-container *libPickerHeaderDef>
					<lib-picker-header></lib-picker-header>
					<lib-picker-header>{{length}} campagnes sélectionnées</lib-picker-header>
				</ng-container>
				<lib-picker-shop-cart-item (remove)="model.deselect(item)" *libPickerShopCartItemDef="let item">
					{{item.name}}
				</lib-picker-shop-cart-item>
				<lib-picker-shop-cart-item class="even" (remove)="model.deselect(item)" *libPickerShopCartItemDef="let item; when: even">
					{{item.name}}
				</lib-picker-shop-cart-item>
			</lib-picker-shop-cart>
		</lib-picker>

		<div>
			<div>valid : {{form.valid}}</div>
			<pre>{{form.value|json}}</pre>
		</div>

	</form>
</div>



