version: 2.1

anchor_1: &wdir
  working_directory: ~/app
anchor_2: &workflow_branch_only_filter
  filters:
    tags:
      ignore: /.*/

orbs:
  browser-tools: circleci/browser-tools@1.4.6

executors:
  node:
    <<: *wdir
    docker:
    - image: cimg/node:24.8
  node-browsers:
    <<: *wdir
    docker:
    - image: cimg/node:24.8-browsers

jobs:
  install_dependencies:
    executor: node
    steps:
    - checkout
    - attach_workspace:
        at: ~/app
    - restore_cache:
        key: dependency-cache-{{ checksum "package.json" }}
    - run:
        name: Setup Dependencies
        command: npm install --ignore-scripts
    - save_cache:
        key: dependency-cache-{{ checksum "package.json" }}
        paths:
        - ./node_modules
    - persist_to_workspace:
        root: .
        paths: node_modules

  unit_test:
    executor: node-browsers
    description: Start the unit tests for the given project
    parameters:
      project:
        description: angular project's name
        type: string
    steps:
    - checkout
    - browser-tools/install-chrome
    - attach_workspace:
        at: ~/app
    - run:
        name: Run unit tests
        command: npm run test -- "<< parameters.project >>" --coverage
    - store_test_results:
        path: ./junit
    - store_artifacts:
        path: ./coverage

  build:
    executor: node
    description: Build an angular project
    parameters:
      project:
        description: angular project's name
        type: string
    steps:
    - checkout
    - attach_workspace:
        at: ~/app
    - run:
        name: Build app
        command: npm run build -- "<< parameters.project >>"
    - persist_to_workspace:
        root: .
        paths: dist/<< parameters.project >>

  publish:
    executor: node
    description: Npm publish if the local & remote's versions mismatch
    parameters:
      project:
        description: angular project's name
        type: string
    steps:
    - checkout
    - attach_workspace:
        at: ~/app
    - run:
        name: Authenticate with registry
        command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/app/.npmrc
    - run:
        name: Publish package
        command: sh bin/npm_publish.sh << parameters.project >>

workflows:

  ci:
    jobs:
    - install_dependencies:
        <<: *workflow_branch_only_filter

    - build:
        <<: *workflow_branch_only_filter
        name: "build [ng-common-tools]"
        project: ng-common-tools
        requires:
        - install_dependencies
    - build:
        <<: *workflow_branch_only_filter
        name: "build [ng-logger]"
        project: ng-logger
        requires:
        - install_dependencies
    - build:
        <<: *workflow_branch_only_filter
        name: "build [ng-logger-fs]"
        project: ng-logger-fs
        requires:
        - "build [ng-logger]"
        - install_dependencies
    - build:
        <<: *workflow_branch_only_filter
        name: "build [ng-common-form]"
        project: ng-common-form
        requires:
        - "build [ng-common-tools]"
        - install_dependencies
    - build:
        <<: *workflow_branch_only_filter
        name: "build [google-ads-preview]"
        project: google-ads-preview
        requires:
        - "build [ng-common-tools]"
        - install_dependencies

    - unit_test:
        <<: *workflow_branch_only_filter
        name: "test [ng-common-tools]"
        project: ng-common-tools
        requires:
        - install_dependencies
    - unit_test:
        <<: *workflow_branch_only_filter
        name: "test [ng-logger]"
        project: ng-logger
        requires:
        - install_dependencies
    - unit_test:
        <<: *workflow_branch_only_filter
        name: "test [ng-logger-fs]"
        project: ng-logger-fs
        requires:
        - "build [ng-logger]"
        - install_dependencies
    - unit_test:
        <<: *workflow_branch_only_filter
        name: "test [ng-common-form]"
        project: ng-common-form
        requires:
        - "build [ng-common-tools]"
        - install_dependencies

    - publish:
        <<: *workflow_branch_only_filter
        context: "open source"
        name: "publish [ng-common-tools]"
        project: ng-common-tools
        requires:
        - "test [ng-common-tools]"
        - "build [ng-common-tools]"
    - publish:
        <<: *workflow_branch_only_filter
        context: "open source"
        name: "publish [ng-logger]"
        project: ng-logger
        requires:
        - "test [ng-logger]"
        - "build [ng-logger]"
    - publish:
        <<: *workflow_branch_only_filter
        context: "open source"
        name: "publish [ng-logger-fs]"
        project: ng-logger-fs
        requires:
        - "test [ng-logger-fs]"
        - "build [ng-logger-fs]"
    - publish:
        <<: *workflow_branch_only_filter
        context: "open source"
        name: "publish [ng-common-form]"
        project: ng-common-form
        requires:
        - "test [ng-common-form]"
        - "build [ng-common-form]"
    - publish:
        <<: *workflow_branch_only_filter
        context: "open source"
        name: "publish [google-ads-preview]"
        project: google-ads-preview
        requires:
        - "build [google-ads-preview]"
