<!--<form [formGroup]="form" (ngSubmit)="pushItemToScheme()">-->
<!--<div>-->
<!--<label for="x">X: </label>-->
<!--<input id="x" type="number" formControlName="x" placeholder="x">-->
<!--</div>-->
<!--<div>-->
<!--<label for="y">Y: </label>-->
<!--<input id="y" type="number" formControlName="y" placeholder="y">-->
<!--</div>-->
<!--<div>-->
<!--<label for="width">Width: </label>-->
<!--<input id="width" type="number" formControlName="w" placeholder="w">-->
<!--</div>-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<label for="height">Height: </label>&ndash;&gt;-->
<!--&lt;!&ndash;<input id="height" type="number" formControlName="h" placeholder="h">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<button type="submit">ajouter</button>-->
<!--</form>-->


<!--<div grid-layout [scheme]="scheme" #grid="gridLayout">-->
<!--<grid-block *gridBlockDef="let block; movable:true" class="grid-w-{{block.w}} grid-h-{{block.h}}">-->
<!--<pre>{{block|json}}</pre>-->
<!--</grid-block>-->
<!--</div>-->

<form >
	<input type="text">
	<input type="text">
	<button type="submit"></button>
</form>
<!--<pre>{{scheme|json}}</pre>-->
<div><button (click)="addItem()">add</button></div>
<gridster [options]="options">
	<gridster-item [item]="item" *ngFor="let item of dashboard">
		<!-- your content here -->
		hello world
	</gridster-item>
</gridster>
