<form [formGroup]="form" (ngSubmit)="pushItemToScheme()">
	<div>
		<input type="number" formControlName="x" placeholder="x">
		<input type="number" formControlName="y" placeholder="y">
	</div>
	<div>
		<input type="number" formControlName="w" placeholder="w">
		<input type="number" formControlName="h" placeholder="h">
	</div>
	<button type="submit">ajouter</button>
</form>


<div grid-layout [scheme]="scheme">
	<grid-block *gridBlockDef="let block" cdkDrag>{{block|json}}</grid-block>
</div>

<pre>{{scheme|json}}</pre>