:host {
	display: block;
	height: 100%;
}

* {
	box-sizing: border-box;
}

//
//grid-layout, [grid-layout] {
//	width: 1000px;
//}

//grid-block {
//	width: 25%;
//
//	&.grid-w-1 {
//		width: 25%;
//	}
//
//	&.grid-w-2 {
//		width: 50%;
//	}
//
//	&.grid-w-3 {
//		width: 75%;
//	}
//
//	&.grid-w-4 {
//		width: 100%;
//	}
//}

gridster {
	background: transparent;
}

gridster-item {
	background: transparent;
	border: 1px solid black;
}

