/* You can add global styles to this file, and also import other style files */
html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}


.packery-drop-placeholder {
	outline: 3px dashed #444;
	outline-offset: -6px;
	/* transition position changing */
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	pointer-events: none;
}