<mat-toolbar>
	Popover
</mat-toolbar>

<button mat-button [matMenuTriggerFor]="menu">Menu</button>

<mat-menu #menu="matMenu" class="menu-popover">
	<div *matMenuContent class="notification-menu-content">
		<div class="menu-header" fxLayout="row" fxLayoutAlign="start center">
			<div fxFlex="1 1 auto">Notifications</div>
			<button mat-icon-button>
				<mat-icon>settings</mat-icon>
			</button>
		</div>
		<mat-divider></mat-divider>
		<div class="notification-list">
			<button mat-menu-item *ngFor="let i of items">Item 1</button>
		</div>
	</div>
</mat-menu>
